
<!--we want to watch for the submitted event and whenever that occurs we call the method onTerm(), when the submitted event occurs it passes along some information(in this case the the search term) so we make sure we take that event and communicate it into the onTerm() method-->
<app-search-bar (submitted)="onTerm($event)"></app-search-bar>
<!--we decide the name we want to use to communicate from the parent to the child (will be pages) and add a new binding to the child component, specifying the data we want to pass down (will be the pages property created on AppComponent.ts)-->
<app-page-list [pages]="pages"></app-page-list>